* {
    margin: 0;
}

body {
    font-family: 'Lato';
}

/* header section */

.section-A {
    width: 1920px;
    height: 850px;
    background: url(../image/pngwing\ 10.png);
    background-repeat: no-repeat;
    background-position: right 50px;
    background-color: #FCEEF1;
    background-position-x: 82%;
}

.header-motivation {
    padding-top: 197px;
    padding-left: 240px;
    color: #272727;
    font-size: 80px;
    font-weight: 800
}

.header-description {
    padding-top: 32px;
    padding-left: 240px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.header-btn {
    margin-top: 32px;
    margin-left: 240px;
    margin-bottom: 147px;
    width: 177px;
    height: 64px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border-style: none;
    color: white;
}


/* header section done here */

/* feature section */

.section-feature {
    margin-top: 178px;
}

.feature-title {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;


}

.feature-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.flower-container{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    
}

.flower-1 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-right: 24px;
    background-image: url(../image/pngwing\ 6.png);
    background-repeat: no-repeat;
    background-position: center bottom;

}

.flower-2 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-right: 24px;
    background-image: url(../image/pngwing\ 5.png);
    background-repeat: no-repeat;
    background-position: center bottom;


}

.flower-3 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    background-image: url(../image/pngwing\ 7.png);
    background-repeat: no-repeat;
    background-position: center bottom;

}

.picture-title{
    display: flex;
    margin-left: 381px;
    margin-top: 32px;
}

.title-1{
    
    margin-right: 295px;
    position: relative;
}

.title-2{
    position: relative;
    margin-right: 440px;
    
}

/* feature end */

/* optional start */

.optional{
    
    width: 1280px;
    height: 280px;
    margin-left: 240px;
    margin-top: 195px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 86px;
    display: flex;
    justify-content: space-between;
    
}

.sup-dis{
    text-align: center;
    margin-top: 86px;

}

.title {
    margin-top: 5px;
}
/* optional end */

/* section-2 start */

.section-2{
    width: 1922px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 128px;
    background-image: url(../image/pngwing\ 8.png);
    background-repeat: no-repeat;
    background-position: 75%;
}

.sec-title{
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 230px;
    margin-left: 423px;
}

.sec-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 423px;
    position: absolute;
    text-align: center;
}

.sec-btn{
    width: 155px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-style: none;
    margin-left: 603px;
    margin-top: 100px;
}

/* End here */

/* section 3 start here */
.section3-title{
    margin-top: 128px;
    text-align: center;
}

.sec-title-3{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sec-description-3{
    margin-top: 24px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* End here */

/* Img section */
.img-container{
    display: flex;
    justify-content: center;
    

}

.sec-4{
    margin-right: 24px;
}

/* Img section end here */

/* subscribe section start */

.subscribe{
    background-image: url(../image/Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
    margin-top: 128px;
    margin-left: 225px;

}

.sub-title{
        position: absolute;
        margin-top: 130px;
        margin-left: 560px;
        color: #272727;
        text-align: center;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        
}

.title-info{
    position: absolute;
    margin-top: 190px;
    margin-left: 620px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.sub-input{
    position: absolute;
    margin-top: 270px;
    margin-left: 350px;
    width: 600px;
    height: 58px;

}

.sub-btn{
    position: absolute;
    margin-top: 270px;
    margin-left: 980px;
    width: 150px;
    height: 64px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: #E55473;
    border-style: none;

}
/* End here */

/* Footer start here */